# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.

commands:
      print_workflow:
        description: "A very simple command for demonstration purposes"
        steps:
          - run: echo $CIRCLE_WORKFLOW_ID 
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1
# Orchestrate or schedule a set of jobs
jobs:
  print_hello:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: Write Hello
          command: |
            echo "Hello"
  print_world:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: Write World
          command: |
            echo "World"
  print_github_user:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: "echo an env var that is part of our project"
          command: |
            echo $GITHUB_USER
  save_hello_world_output:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo "hello world" > ~/output.txt
      - persist_to_workspace:
          root: ~/
          paths:
            - output.txt
  print_output_file:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - attach_workspace:
          at: ~/
      - run: cat ~/output.txt
  print_pipeline_id:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - print_workflow
  print_message_on_fail:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: "this will fail on purpuse"
          command: |
            test echo $GITHUB_USER
      - run:
          name: "print a message when the job fail"
          command: |
            echo "Process Failed"
          when: on_fail  
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - print_pipeline_id
      - print_github_user
      - print_hello
      - print_message_on_fail
      - print_world:
          requires: [print_hello]
      - save_hello_world_output
      - print_output_file:
          requires: [save_hello_world_output]


